<div class="change-pw-form-group">
  <div class="form-group">
    <label for="previous">Current Password</label>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      {{input type="password"
        class="change-pw-form-input form-control"
        id="previous"
        placeholder="Current password"
        value=passwords.previous}}
    </div>
  </div>

  <div class="form-group">
    <label for="next">New Password</label>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-plus-sign"></i></span>
      {{input type="password"
        class="change-pw-form-input form-control"
        id="next"
        placeholder="New password"
        value=passwords.next}}
    </div>
  </div>

</div>


<div class="buttons-change-pw-wrapper">
  <button class="buttons-change-pw bttn-jelly bttn-md bttn-back button-custom" {{action "reset"}}><span class="glyphicon glyphicon-refresh"></span>
    Reset Fields
  </button>

  <button type="submit" class="buttons-change-pw bttn-jelly bttn-md button-custom" {{action "submit"}}><span class="glyphicon glyphicon-save"></span>
    Change Password
  </button>
</div>
