<label for="email">Email</label>
{{input type="email"
        id="email"
        class="form-control"
        placeholder="Email"
        value=email}}
        {{!-- value is the only thing that matters. value=email is being referred to in sign-up-form.hbs line 1 --}}
