<label for="email">Email</label>
<div class="input-group">
<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
{{input type="email"
        id="email"
        class="form-control"
        placeholder="Email address"
        value=email}}
        {{!-- value is the only thing that matters. value=email is being referred to in sign-up-form.hbs line 1 --}}
</div>
