{{input class='image-url-input-field' value=imageUrl placeholder="Enter an image URL"}}


<div class="button-find-palettes-wrapper">
  <button type="submit" class="bttn-jelly bttn-md button-custom" {{action 'callColorApi'}}>
    Get colors!
  </button>
</div>
