<label for="kind">Password</label>
{{input type="password"
        id="password"
        class="form-control"
        placeholder="Password"
        value=password}}
        {{!-- value=password is being referenced in sign-up-form.hbs, line 5. --}}
