<label for="password">Password</label>
<div class="input-group">
<span class="input-group-addon">
  <span class="glyphicon glyphicon-lock"></span>
</span>
{{input type="password"
        id="password"
        class="form-control"
        placeholder="Password"
        value=password}}
        {{!-- value=password is being referenced in sign-up-form.hbs, line 5. --}}
</div>
