<label for="password-confirmation">Password Confirmation</label>
<div class="input-group">
<span class="input-group-addon">
    <span class="glyphicon glyphicon-glyphicon glyphicon-ok"></span>
</span>
{{input type="password"
        id="password-confirmation"
        class="form-control"
        placeholder="Password Confirmation"
        value=password}}
</div>
