{{email-input email=credentials.email}}
{{password-input password=credentials.password}}

<button type="submit" class="bttn-jelly bttn-md button-custom" {{action "submit"}}>
  Sign In
</button>

<button class="bttn-jelly bttn-md button-custom" {{action "reset"}}>
  Reset
</button>
