<div class="sign-in-form-group">
  <div class="form-group">
      {{email-input email=credentials.email}}
  </div>

  <div class="form-group">
      {{password-input password=credentials.password}}
  </div>
</div>


<div class="sign-in-buttons-wrapper">
  <button type="submit" class="bttn-jelly bttn-md button-custom" {{action "submit"}}>
    Sign In
  </button>

  <button class="bttn-jelly bttn-md button-custom button-cancel" {{action "reset"}}>
    Reset
  </button>
</div>
