.my-app-outlet {
  // border: 2px solid blue;
  // width: 85%;
  margin: 80px auto 0 auto;
}

.my-app-outlet h2 {
  margin-bottom: 70px;
}

.colorspiration-header {
  text-align: center;
}

.create-palette-info {
  margin-bottom: 50px;
}

.palette-create-inputs {
  // align-content: space-between;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // margin: auto;
  // text-align: center;
  // width: 90%;
  // justify-content: space-between;
}

.color-palette-form {
  // width: 90%;
  margin: auto;
}

.palette-analysis-wrapper {
  // width: 70%;
  // margin-left: auto;
  // margin-right: auto;
  // text-align: center;
}

.create-image-restriction {
  text-align: center;
}
