.palette-display-palette {
  margin-bottom: 15px;
}

.palette-colors-buttons {
  margin-bottom: 30px;
}

.palette-display-single {
  overflow: auto; // clearfix
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
