.palette-flex {
  // align-content: space-between;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  // justify-content: space-between;
}

.palette-display {
  width: 25%;

}

.palette-colors-buttons {
  // border: 2px solid blue;
  margin-bottom: 30px;
}
