body {
  color: $color-scorpion;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .07em;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1 {
  font-family: 'Fredericka the Great', sans-serif;
  font-size: 3em;
  letter-spacing: -2px;
  line-height: 1.1em;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  color: $color-old-rose;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Asap', sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  color: $heading-color;
  text-transform: uppercase;
}

h2 {
  margin: 0 0 0.5em;
  font-size: 2.3em;
  line-height: 1.1em;
  font-weight: 400;
}

h3 {
  margin: 0 0 0.5em;
  font-size: 1.4em;
}

h4 {
  margin: 0 0 1.5em;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: none;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.9em;
  font-weight: 400;
}

p {
  font-family: 'Asap', sans-serif;
  margin: 0 0 1em;
  text-align: justify;
  font-size: 1em;
}

a {
  text-transform: uppercase;
  font-family: 'Asap', serif;
  letter-spacing: 3px;
  font-weight: 400;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

label {
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  letter-spacing: .1em;
  color: $label-color;
}

input, button {
  font-family: 'Asap', sans-serif;
}

input::placeholder {
  text-align: center;
  color: $placeholder-color;
}

input[type="text"], input[type="password"], input[type="email"] {
  font-weight: 400;
	font-size: 1em;
	color: $input-color;
  padding: 8px 30px;
	border: 1px solid $input-color;
  text-align: center;
  margin: 10px;
  margin: 10px auto;
}

span.header-color-c {
  color: $color-viridian;
}

span.header-color-o {
  color: $color-ocean-green;
}

span.header-color-l {
  color: $color-tradewind;
}

span.header-color-o-2 {
  color: $color-downy;
}

span.header-color-r {
  color: $color-sinbad;
}

span.header-spiration-s {
  color: $color-prelude;
}

span.header-spiration-p {
  color: $color-cold-purple;
}
span.header-spiration-i {
  color: $color-cold-purple-dark;
}

span.header-spiration-r {
  color: $color-cold-purple-darker;
}

span.header-spiration-a {
  color: $color-cold-purple-darkest;
}

span.header-spiration-t {
  color: $color-blue-bell;
}

span.header-spiration-i-2 {
  color: $color-wild-blue-yonder;
}

span.header-spiration-o {
  color: $color-kimberly;
}

span.header-spiration-n {
  color: $color-kimberly-dark;
}

span.header-spiration-period {
  color: $color-comet;
}
