.button-custom {
	font-size: .5em;
}

.bttn-jelly {
  margin-bottom: 20px;
}

.palette-button-group {
  text-align: right;
}

.button-group-view-create {
  text-align: right;
  margin-right: 10%;
  // align-content: space-between;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // height: 80px;
}

.button-create-palette-wrapper {
  margin-bottom: 40px;
  text-align: center;
}

.button-find-palettes-wrapper {
  margin-bottom: 50px;
  text-align: center;
}

.image-url-input-field {
  margin: auto;
  width: 100%;
}

.palette-edit-form {
  // text-align: center;
}

.edit-group-buttons {
  text-align: center;
}

.change-pw-form-group, .sign-in-form-group, .sign-up-form-group {
  // width: 50%;
  margin: 0 auto;
}

.buttons-change-pw-wrapper {
  margin: auto;
  text-align: center;
}

.buttons-change-pw {
  text-align: center;
  margin: 15px;
}

.sign-in-buttons-wrapper {
  margin: auto;
  text-align: center;
}

.buttons-sign-up-wrapper {
  margin: auto;
  text-align: center;
}
