<h2>My Palettes</h2>

{{!-- refers to palette from index action in palettes.js --}}
{{#each model as |palette|}}
  {{palettes-all palette=palette deletePalette='deletePalette'}}
{{/each}}

{{!-- {{palettes-get potato=palette}}
potato refers to potato in palettes-all.hbs --}}
