<h2>Create new Palette</h2>
{{palette-create-form createPalette='createPalette'}}

<h5>Enter an image URL and get the dominant colors. Add the colors you like into the form above to create a new palette!</h5>
{{palette-analysis-form callColorApi='callColorApi'}}

{{!-- colorTag API currently returns top 20 color tags --}}
<div id='palette-result-color0'></div>
<div id='palette-result-color1'></div>
<div id='palette-result-color2'></div>
<div id='palette-result-color3'></div>
<div id='palette-result-color4'></div>
<div id='palette-result-color5'></div>
<div id='palette-result-color6'></div>
<div id='palette-result-color7'></div>
<div id='palette-result-color8'></div>
<div id='palette-result-color9'></div>
<div id='palette-result-color10'></div>
<div id='palette-result-color11'></div>
<div id='palette-result-color12'></div>
<div id='palette-result-color13'></div>
<div id='palette-result-color14'></div>
<div id='palette-result-color15'></div>
<div id='palette-result-color16'></div>
<div id='palette-result-color17'></div>
<div id='palette-result-color18'></div>
<div id='palette-result-color19'></div>
