<h2>View all Palettes!</h2>

{{!-- refers to palette from index action in palettes.js --}}
{{#each model as |palette|}}
  {{palettes-all deletePalette='deletePalette' palette=palette}}
{{/each}}

{{!-- {{palettes-get potato=palette}}
potato refers to potato in palettes-get.hbs --}}
