<div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
  {{sign-up-form submit="signUp"}}
</div>
{{!-- 'submit' action has occurred in sign-up-form.js/hbs, so now call the 'signUp' action in sign-up.js --}}
