/////////////////////////////////////////////
// color opacity
/////////////////////////////////////////////

$opacity-very-light: .3;
$opacity-light: .5;
$opacity-opaque: 1;

/////////////////////////////////////////////
// colors: lightest to darkest (approx.)
/////////////////////////////////////////////

$color-white: #fff;
$color-white-pointer: #fefbff;
$color-gallery: #eeeeee;
$color-old-rose: #bf7d7d;
$color-coral-tree: #b2766f;
$color-coral-tree-rgba-light: rgba(178,118,111,$opacity-light);
$color-coral-tree-rgba-opaque: rgba(178,118,111,$opacity-opaque);
$color-au-chico: #8a5a5a;
$color-au-chico-rgba: rgba(138,90,90,.9);
$color-au-chico-rgba-light: rgba(138,90,90,$opacity-light);
$color-au-chico-rgba-opaque: rgba(138,90,90,$opacity-opaque);
$color-roman-coffee: #805a54;
$color-sycamore: #7d8240;
$color-sycamore-rgba: rgba(125,130,64,$opacity-very-light);
$color-scorpion: #606060;

$color-viridian: #3d8575;
$color-ocean-green: #4ba490;
$color-tradewind: #53b6a0;
$color-downy: #5bc8af;
$color-downy-light: #72c3b1;
$color-sinbad: #a1d7cb;
$color-prelude: #c6c4ea;
$color-cold-purple: #b4b0e4;
$color-cold-purple-dark: #aaa6e0;
$color-cold-purple-darker: #a19cdd;
$color-cold-purple-darkest: #9893da;
$color-blue-bell: #8b86c7;
$color-wild-blue-yonder: #7d79b3;
$color-kimberly: #6f6b9f;
$color-kimberly-dark: #615e8b;
$color-comet: #535177;

$primary-color: $color-ocean-green;

/////////////////////////////////////////////
// elements
/////////////////////////////////////////////

$bttn-color: #43C09B;
$heading-color: #43C09B;
$heading2-color: $color-comet;
$legend-color: $color-comet;
$input-color: $color-comet;
$label-color: $color-comet;
$p-color: $color-comet;
$placeholder-color: $color-coral-tree-rgba-light;
$color-api: #919191;
